
body{
    background-size: cover;
    background-image: url(/Ejercicio6/assets/Pin\ by\ lightskinpapi\ on\ The\ Weeknd\ _\ The\ weeknd\ poster\,\ The\ weeknd\ background\,\ The\ weeknd\ wallpaper\ iphone.jpg);
}
.Container-N{
    display: flex;
    justify-content: center;
}
.Name{
    font-weight:bold;
    font-family: serif;
    color: #ffffff;
    animation: glowFR 1s ease-in-out infinite alternate;
}

@keyframes glowFR {
    from {
      text-shadow: 0 0 05px #ff0000, 0 0 10px #ff0000, 0 0 15px #ff0000, 0 0 20px #ff0000, 0 0 25px #ff0000, 0 0 30px #ff0000, 0 0 35px #ff0000;
    }
    to {
      text-shadow: 0 0 10px #B01B1B, 0 0 15px #B01B1B, 0 0 20px #B01B1B, 0 0 25px #B01B1B, 0 0 30px #B01B1B, 0 0 35px #B01B1B, 0 0 400px #B01B1B;
    }
  }
.BIBLO{
    font-family: serif;
    color: #ffffff;
}

.FA{
    font-weight:bold;
    font-family: serif;
    color: #ff0000;
    animation: glowFR 1s ease-in-out infinite alternate;
}
li{
    font-family: serif;
    color: #ffffff;
} 

.TMBA{
    font-weight:bold;
    font-family: serif;
    color: #ff0000;
    animation: glowFR 1s ease-in-out infinite alternate;
}

.ST{
    font-weight:bold;
    font-family: serif;
    color: #ff0000;
    animation: glowFR 1s ease-in-out infinite alternate;
}